/* id selector */
#main-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* universal selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* type selector */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: chocolate;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
